/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
/* Portrait and Landscape */
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
/* ----------- iPad mini ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Non-Retina Screens ----------- */
/* ----------- Retina Screens ----------- */
@import url("//fonts.googleapis.com/css?family=Molengo");
@import url("//fonts.googleapis.com/css?family=Sorts%20Mill%20Goudy");
body {
  font-family: 'Molengo', sans-serif;
}

nav {
  font-family: 'Sorts Mill Goudy', serif;
}

footer {
  background-color: #468966;
  color: #FFF0A5;
}

/** Flex Navigation */
.flexnav {
  transition: none;
  transform-style: preserve-3d;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-height: 0;
}

.flexnav.opacity {
  opacity: 0;
}

.flexnav.flexnav-show {
  max-height: 2000px;
  opacity: 1;
  transition: all .5s ease-in-out;
}

.flexnav.one-page {
  position: fixed;
  top: 50px;
  right: 5%;
  max-width: 200px;
}

.flexnav li {
  font-size: 100%;
  position: relative;
  overflow: hidden;
}

.flexnav li a {
  position: relative;
  display: block;
  padding: .96em;
  z-index: 2;
  overflow: hidden;
  color: #FFF0A5;
  background: #468966;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-decoration: none;
  text-transform: uppercase;
}

.flexnav li a:hover {
  color: orange;
  border-bottom: 2px solid #FFF0A5;
}

.flexnav li ul {
  width: 100%;
}

.flexnav li ul li {
  font-size: 100%;
  position: relative;
  overflow: hidden;
}

.flexnav li ul.flexnav-show li {
  overflow: visible;
}

.flexnav li ul li a {
  display: block;
  background: #FFB03B;
}

.flexnav ul li ul li a {
  background: #B64926;
}

.flexnav ul li ul li ul li a {
  background: #468966;
}

.flexnav .touch-button {
  background: transparent;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
}

.flexnav .touch-button .navicon {
  font-size: 16px;
  position: relative;
  top: 1em;
  color: #FFB03B;
}

@media all and (min-width: 800px) {
  body.one-page {
    padding-top: 70px;
  }
  .flexnav {
    overflow: visible;
  }
  .flexnav.opacity {
    opacity: 1;
  }
  .flexnav.one-page {
    top: 0;
    right: auto;
    max-width: 1080px;
  }
  .flexnav li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    background-color: #468966;
    overflow: visible;
    width: 20%;
  }
  .flexnav li a {
    border-left: 2px solid #FFF0A5;
    border-bottom: none;
  }
  .flexnav li > ul {
    position: absolute;
    top: auto;
    left: 0;
  }
  .flexnav li > ul li {
    width: 100%;
  }
  .flexnav li ul li > ul {
    margin-left: 100%;
    top: 0;
  }
  .flexnav li ul li a {
    border-bottom: none;
  }
  .flexnav li ul.open {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  .flexnav li ul.open li {
    overflow: visible;
    max-height: 100px;
  }
  .flexnav li ul.open ul.open {
    margin-left: 100%;
    top: 0;
  }
  .menu-button {
    display: none;
  }
}
